@using RoverCore.Settings.Models
@model RoverCore.Web.Models.ApplicationSettings

@functions
{
    void renderChildren(List<NavMenuItem>? items)
    {
        if (items is null) return; // Nothing to render

        foreach (var dropdownItem in items)
        {
            if (dropdownItem.Type.ToLower() == "link")
            {
                    <a class="dropdown-item" href="@dropdownItem.Url">
                        @dropdownItem.Text
                    </a>
            }
            else if (dropdownItem.Type.ToLower() == "dropdown")
            {
                <div class="dropend">
                    <a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false" >
                        @dropdownItem.Text
                    </a>
                    <div class="dropdown-menu">
                        @{
                            renderChildren(dropdownItem.Children);
                        }
                    </div>
                </div>
            }
        }
    }
}
<div>

    <ul class="navbar-nav pt-lg-3">
        @foreach (var navitem in Model.NavMenu.NavMenuItems)
        {
            if (navitem.Type.ToLower() == "link")
            {
                <li class="nav-item">
                    <a class="nav-link" href="@navitem.Url">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <!-- Download SVG icon from http://tabler-icons.io/i/package -->
                            <i class="ti @navitem.Icon"></i>
                        </span>
                        <span class="nav-link-title">@navitem.Text</span>
                    </a>
                </li>
            }
            else if (navitem.Type.ToLower() == "dropdown")
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            <!-- Download SVG icon from http://tabler-icons.io/i/package -->
                            <i class="ti ti-package"></i>
                        </span>
                        <span class="nav-link-title">@navitem.Text</span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-menu-columns">
                            @{
                                renderChildren(navitem.Children);
                            }
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>