@model RoverCore.Boilerplate.Domain.Entities.Templates.Template

@{
    ViewData["Title"] = "Template Details";
}

<h1>Details</h1>

<div class="page-header d-print-none mb-2">
	<div class="row align-items-center">
		<div class="col">
			<div class="page-pretitle">
				@ViewData["AreaTitle"]
			</div>
			<h2 class="page-title">Template Details</h2>
		</div>
	</div>
</div>
<div class="card shadow mb-5">
    <div class="card-header">
        <h3>Template</h3>
    </div>
    <div class="card-body">
	    <dl class="row">
		    <dt class = "col-sm-2">
			    @Html.DisplayNameFor(model => model.Slug)
		    </dt>
		    <dd class = "col-sm-10">
			    @Html.DisplayFor(model => model.Slug)
		    </dd>
		    <dt class = "col-sm-2">
			    @Html.DisplayNameFor(model => model.Name)
		    </dt>
		    <dd class = "col-sm-10">
			    @Html.DisplayFor(model => model.Name)
		    </dd>
		    <dt class = "col-sm-2">
			    @Html.DisplayNameFor(model => model.Description)
		    </dt>
		    <dd class = "col-sm-10">
			    @Html.DisplayFor(model => model.Description)
		    </dd>
		    <dt class = "col-sm-2">
			    @Html.DisplayNameFor(model => model.Created)
		    </dt>
		    <dd class = "col-sm-10">
			    @Html.DisplayFor(model => model.Created)
		    </dd>
		    <dt class = "col-sm-2">
			    @Html.DisplayNameFor(model => model.Updated)
		    </dt>
		    <dd class = "col-sm-10">
			    @Html.DisplayFor(model => model.Updated)
		    </dd>
	    </dl>
	    <div class="row">
		    <div class="col embed-responsive embed-responsive-21by9">
			    <b>Body</b>
			    <iframe class="embed-responsive-item w-100" style="min-height: 30rem" srcdoc="@Model.Body"></iframe>
		    </div>
	    </div>
    </div>
</div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-default ml-3">Back to List</a>
