@model UserViewModel

@{
    ViewData["Title"] = "Admin";
}

<div class="page-header d-print-none mb-2">
	<div class="row align-items-center">
		<div class="col">
			<!-- Page pre-title -->
			<div class="page-pretitle">
				Identity
			</div>
			<h2 class="page-title">
				Manage Users
			</h2>
		</div>
		<!-- Page title actions -->
		<div class="col-auto ms-auto d-print-none">
			<div class="btn-list">
                  
				<a asp-action="Create" class="btn btn-primary d-none d-sm-inline-block">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
					Create new user
				</a>
                  
			</div>
		</div>
	</div>
</div>
<div class="card shadow">
    <div class="card-body table-responsive" id="index_container">

        <table class="table table-bordered" id="index">
            <thead>
            <tr>
	            <th>
		            @Html.DisplayNameFor(model => model.Id)
	            </th>
	            <th>
		            @Html.DisplayNameFor(model => model.FirstName)
	            </th>
	            <th>
		            @Html.DisplayNameFor(model => model.LastName)
	            </th>
	            <th>
		            @Html.DisplayNameFor(model => model.Email)
	            </th>
	            <th>
		            Roles
	            </th>
	            <th></th>
            </tr>
            </thead>
        </table>

    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
	@Html.AntiForgeryToken()
}

@section Styles {
	<link rel="stylesheet" type="text/css" href="~/vendor/datatables.net-bs5/dataTables.bootstrap5.min.css" />
	<link rel="stylesheet" type="text/css" href="~/vendor/datatables.net-responsive-bs5/responsive.bootstrap5.min.css">
}

@section Scripts {

	<script src="~/vendor/pdfmake/pdfmake.min.js"></script>
	<script src="~/vendor/pdfmake/vfs_fonts.min.js"></script>
	<script src="~/vendor/datatables.net/jquery.dataTables.min.js"></script>
	<script src="~/vendor/datatables.net-bs5/dataTables.bootstrap5.min.js"></script>
	<script src="~/vendor/datatables.net-responsive-bs5/responsive.bootstrap5.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

                var table = $('#index').DataTable(
                    {
                        "processing": true,
                        "serverSide": true,
                        "filter": true,
                        "ajax": {
                            "url": "@Url.Action("GetUsers")",
                            "type": "POST",
                            "data": {"__RequestVerificationToken" : token},
                            "datatype": "json"
                        },
                        "columnDefs": [
                                {
                                    "defaultContent": "-", "targets": "_all"
                                },
                                {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
                            }],
                        "columns": [
                        { "data": "id", "name": "Id", "autoWidth": true },
                        { "data": "firstName", "name": "First Name", "autoWidth": true },
                        { "data": "lastName", "name": "Last Name", "autoWidth": true },
                        { "data": "email", "name": "Email", "autoWidth": true },
                        { "data": "roles", "name": "Roles", "autoWidth": true },
                        {
                            "render": function(data, type, row) {
	                            var controls = "<a href='@(Url.Action("Edit"))/" + row.id + "' class='btn btn-primary me-1'><i class='icon las la-wrench'></i> Edit</a>" +
		                            "<a href='@(Url.Action("Details"))/" + row.id + "' class='btn btn-primary me-1'><i class='icon las la-info-circle'></i> Details</a>" +
		                            "<button data-href='@(Url.Action("Delete"))/" + row.id + "' class='btn btn-danger delete-button me-1'><i class='icon las la-trash'></i> Delete</a>";

                                return controls;
                            }
                        }
                    ],
                    pageLength: 10,
                    responsive: true,
                    order: [[2, "asc"]],
                    "language": {
                        "emptyTable": "No users have been created."
                    }
            }
        );


            table.columns.adjust().draw();

        });
    </script>

}