@model UserViewModel

@{
    ViewData["Title"] = "Admin";
}

<div class="page-header d-print-none mb-2">
	<div class="row align-items-center">
		<div class="col">
			<!-- Page pre-title -->
			<div class="page-pretitle">
				Identity
			</div>
			<h2 class="page-title">
				Manage Users
			</h2>
		</div>
		<!-- Page title actions -->
		<div class="col-auto ms-auto d-print-none">
			<div class="btn-list">
                  
				<a asp-action="Create" class="btn btn-primary d-none d-sm-inline-block">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
					Create new user
				</a>
                  
			</div>
		</div>
	</div>
</div>
<div class="card shadow">
    <div class="card-body table-responsive" id="index_container">

        <table class="table table-bordered" id="index">
            <thead>
            <tr>
	            <th>
		            @Html.DisplayNameFor(model => model.Id)
	            </th>
	            <th>
		            @Html.DisplayNameFor(model => model.FirstName)
	            </th>
	            <th>
		            @Html.DisplayNameFor(model => model.LastName)
	            </th>
	            <th>
		            @Html.DisplayNameFor(model => model.Email)
	            </th>
	            <th>
		            Roles
	            </th>
	            <th></th>
            </tr>
            </thead>
        </table>

    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
	@Html.AntiForgeryToken()
}

@section Styles {

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/cr-1.5.4/date-1.1.0/r-2.2.9/sl-1.3.3/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css">

}

@section Scripts {

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/cr-1.5.4/date-1.1.0/r-2.2.9/sl-1.3.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();

            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

                var table = $('#index').DataTable(
                    {
                        "processing": true,
                        "serverSide": true,
                        "filter": true,
                        "ajax": {
                            "url": "/identity/users/getusers",
                            "type": "POST",
                            "data": {"__RequestVerificationToken" : token},
                            "datatype": "json"
                        },
                        "columnDefs": [
                                {
                                    "defaultContent": "-", "targets": "_all"
                                },
                                {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
                            }],
                        "columns": [
                        { "data": "id", "name": "Id", "autoWidth": true },
                        { "data": "firstName", "name": "First Name", "autoWidth": true },
                        { "data": "lastName", "name": "Last Name", "autoWidth": true },
                        { "data": "email", "name": "Email", "autoWidth": true },
                        { "data": "roles", "name": "Roles", "autoWidth": true },
                        {
                            "render": function(data, type, row) {
                                var controls = "<a href='/identity/users/edit/" +
                                    row.id +
                                    "' class='btn btn-primary'><i class='fa fa-wrench'></i> Edit</a> " +
                                    "<a href='/identity/users/delete/" +
                                    row.id +
                                    "' class='btn btn-primary'><i class='fa fa-trash'></i> Delete</a>";

                                return controls;
                            }
                        }
                    ],
                    pageLength: 10,
                    responsive: true,
                    order: [[2, "asc"]],
                    "language": {
                        "emptyTable": "No users have been created."
                    }
            }
        );


            table.columns.adjust().draw();

            //$("#index_container").slideDown();

        });
    </script>

}